.quiz-container {
  grid-column: span 2;
  width: 70%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.5rem;
}



.quiz-access-pagebtn{
  cursor: pointer;
}

.quiz-access-pagebtn:hover{
  background-color: white !important;
  color: black !important;
  border: 1px solid black !important;
}

/* reading container css */

.reading-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #ff6a6a;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  & img {
    width: 80px;
    height: auto;
  }

  & h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.reading-container .quiz-access-pagebtn {
  display: flex;
  width: 100%;
  border-radius: 20px;
  align-self: center;
  color: white;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #ff5858;
  padding: 20px 0px;
  font-size: large;
}

.reading-container .reading-container-top {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.reading-container-top i {
  position: absolute;
  right: 0;
  top: 0;
}


/* writing container css*/


.writing-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #2c5aff;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  & img {
    width: 80px;
    height: auto;
  }

  & h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.writing-container .quiz-access-pagebtn {
  display: flex;
  width: 100%;
  border-radius: 20px;
  align-self: center;
  color: white;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #2c5aff;
  padding: 20px 0px;
  font-size: large;
}

.writing-container .writing-container-top {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.writing-container-top i {
  position: absolute;
  right: 0;
  top: 0;
}

/* speaking container css */

.speaking-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #2eb700;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  & img {
    width: 80px;
    height: auto;
  }

  & h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.speaking-container .quiz-access-pagebtn {
  display: flex;
  width: 100%;
  border-radius: 20px;
  align-self: center;
  color: white;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #2eb700;
  padding: 20px 0px;
  font-size: large;
}

.speaking-container .speaking-container-top {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.speaking-container-top i {
  position: absolute;
  right: 0;
  top: 0;
}


/* listening container css */

.listening-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #001287;
  padding: 20px;
  gap: 10px;
  align-items: flex-start;

  & img {
    width: 80px;
    height: auto;
  }

  & h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.listening-container .quiz-access-pagebtn {
  display: flex;
  width: 100%;
  border-radius: 20px;
  align-self: center;
  color: white;
  justify-content: center;
  align-items: center;
  height: 35px;
  background-color: #001287;
  padding: 20px 0px;
  font-size: large;
}

.listening-container .listening-container-top {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  gap: 10px;
}
.listening-container-top i {
  position: absolute;
  right: 0;
  top: 0;
}

/* media queries for responsiveness */

@media screen and (max-width: 970px) {
  .quiz-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 90%;
  }
}

@media screen and (max-width: 770px) {
  .quiz-container {
    padding-top: 15%;
    z-index: -1;
  }
}
